
.logo {
  -webkit-animation: blur-logo 5s infinite;
}

@-webkit-keyframes blur-logo {
  0% {-webkit-filter: blur(0px);}
  25% {-webkit-filter: blur(2px);}
  50% {-webkit-filter: blur(1px);}
  75% {-webkit-filter: blur(3px);}
  100% {-webkit-filter: blur(1px);}
}

#sky-clouds{
  -webkit-animation: blur-clouds 12s infinite;
}

@-webkit-keyframes blur-clouds {
  0% {-webkit-filter: blur(0px);}
  8% {-webkit-filter: blur(1px);}
  16% {-webkit-filter: blur(0px);}
  25% {-webkit-filter: blur(2px);}
  50% {-webkit-filter: blur(1px);}
  60% {-webkit-filter: blur(0px);}
  75% {-webkit-filter: blur(3px);}
  83% {-webkit-filter: blur(2px);}
  100% {-webkit-filter: blur(1px);}
}

.raio {
    -webkit-animation: hue-raios 0.5s infinite;
}

@-webkit-keyframes hue-raios {
  0% {-webkit-filter: hue-rotate(10deg);}
  25% {-webkit-filter: hue-rotate(25deg);}
  50% {-webkit-filter: hue-rotate(40deg);}
  75% {-webkit-filter: hue-rotate(20deg);}
  100% {-webkit-filter: hue-rotate(0deg);}
}

.bigrock {
  -webkit-animation: blur-bigrock 8s infinite;
}

@-webkit-keyframes blur-bigrock {
  0% {-webkit-filter: blur(0px);}
  25% {-webkit-filter: blur(2px);}
  50% {-webkit-filter: blur(1px);}
  75% {-webkit-filter: blur(2px);}
  100% {-webkit-filter: blur(0px);}
}

.mono-um {
  -webkit-animation: blur-monoum 3s infinite;
}

@-webkit-keyframes blur-monoum {
  0% {-webkit-filter: blur(0px);}
  50% {-webkit-filter: blur(1px);}
  100% {-webkit-filter: blur(0px);}
}

.mono-dois {
  -webkit-animation: blur-monodois 12s infinite;
}

@-webkit-keyframes blur-monodois {
  0% {-webkit-filter: blur(0px);}
  25%% {-webkit-filter: blur(1px);}
  38% {-webkit-filter: blur(0px);}
  50% {-webkit-filter: blur(1px);}
  75% {-webkit-filter: blur(2px);}
  82% {-webkit-filter: blur(0px);}
  100% {-webkit-filter: blur(2px);}
}

.mono-tres {
  -webkit-animation: blur-monotres 7s infinite;
}

@-webkit-keyframes blur-monotres {
  0% {-webkit-filter: blur(0px);}
  25%% {-webkit-filter: blur(1px);}
  38% {-webkit-filter: blur(0px);}
  50% {-webkit-filter: blur(1px);}
  82% {-webkit-filter: blur(0px);}
}

.mono-quatro {
  -webkit-animation: blur-monoquatro 9s infinite;
}

@-webkit-keyframes blur-monoquatro {
  0% {-webkit-filter: blur(0px);}
  25% {-webkit-filter: blur(1px);}
  38% {-webkit-filter: blur(2px);}
  50% {-webkit-filter: blur(1px);}
  82% {-webkit-filter: blur(0px);}
  100% {-webkit-filter: blur(0px);}
}

.space-algae {
  -webkit-animation: space-algae 12s infinite;
}

@-webkit-keyframes space-algae {
  0% {-webkit-filter: blur(0px); opacity: 0.45}
  12% {-webkit-filter: blur(1px);}
  25% {-webkit-filter: blur(2px);opacity: 0.6}
  34% {-webkit-filter: blur(4px);}
  45% {-webkit-filter: blur(2px);opacity: 0.3}
  50% {-webkit-filter: blur(4px);}
  61% {-webkit-filter: blur(2px);opacity: 0.6}
  70% {-webkit-filter: blur(1px);}
  82% {-webkit-filter: blur(3px);opacity: 0.3}
  90% {-webkit-filter: blur(2px);}
  100% {-webkit-filter: blur(1px);opacity: 0.6}
}

.vagveg {
    -webkit-animation: hue-vag 8s infinite;
}

@-webkit-keyframes hue-vag {
  0% {-webkit-filter: hue-rotate(30deg);}
  25% {-webkit-filter: hue-rotate(65deg);}
  50% {-webkit-filter: hue-rotate(40deg);}
  75% {-webkit-filter: hue-rotate(90deg);}
  100% {-webkit-filter: hue-rotate(0deg);}
}

#dust-under-1 {
    -webkit-animation: hue-dust 3s infinite;
}

@-webkit-keyframes hue-dust {
  0% {-webkit-filter: hue-rotate(30deg);}
  25% {-webkit-filter: hue-rotate(65deg);}
  50% {-webkit-filter: hue-rotate(40deg);}
  75% {-webkit-filter: hue-rotate(90deg);}
  100% {-webkit-filter: hue-rotate(0deg);}
}