@font-face {
    font-family: 'klartext_monolight';
    src: url('klartextmono-light-webfont.woff2') format('woff2'),
         url('klartextmono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.janela {background-color: hsla(0, 0%, 0%, 0.6);
    min-width: 550px; max-width: 800px; display: none;
    padding: 20px;
}

.janela > h2:first-child {
  margin-top: 0;
}
